# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Models
models/*.pt
models/*.onnx
models/*.pth

# Dataset
data/train/
data/valid/
data/test/
data/raw/
data/augmented/
data/processed/
!data/data.yaml

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
runs/

# Environment
.env

# Node
node_modules/